body {
    font-family: "Segoe UI", sans-serif;
    background: #f2f2f2;
    color: #111;
  }
  
/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  padding: 0 70px;
  background: rgba(240, 240, 240, 0.95);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

/* يسار – صورة المشروع */
.nav-left img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #111;
}

/* يمين – الروابط */
.nav-right a {
  margin-left: 200px;
  font-size: 20px;          /* خط كبير */
  font-weight: 300;
  color: #111;
  text-decoration: none;
  position: relative;
}

/* خط تحت الرابط عند hover */
.nav-right a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  right: 0;
  width: 0;
  height: 3px;
  background: #111;
  transition: width 0.3s ease;
}

.nav-right a:hover::after {
  width: 100%;
}
 /* HERO SECTION */
.hero {
    height: 100vh;
    background: #424141;
    position: relative;
  }
  
  /* تغميق خفيف فوق الصورة */
  .hero-overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* المربع الأبيض الشفاف */
  .idea-card {
    background: rgba(197, 193, 193, 0.85);
    color: #111;
    padding: 50px 60px;
    max-width: 600px;
    border-radius: 20px;
    text-align: center;
  
    /* Glass effect */
    backdrop-filter: blur(300px);
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
  }

  .hidden {
    visibility: hidden;
    position: absolute;
  }
  .idea-card h1 {
    font-size: 52px;
    margin-bottom: 20px;
  }
  
  .idea-card p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 35px;
  }

  
  /* زر البث */
  .main-btn {
    padding: 14px 40px;
    font-size: 17px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: #111;
    color: white;
    transition: all 0.3s ease;
  }
  
  .main-btn:hover {
    background: #333;
    transform: translateY(-2px);
  }
  /* فاصل بين الأقسام */
.section-divider {
  height: 200px;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.15),
    rgba(0,0,0,0)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-divider span {
  width: 1000px;
  height: 4px;
  background: #999;
  border-radius: 10px;
}
  
.camera-section {
  min-height: 100vh;
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 40px;
  text-align: center;
}

.camera-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #111;
}

/* مربع البداية */
.start-hint {
  background: white;
  padding: 50px 70px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  align-items: center;      /* توسيط أفقي */
  justify-content: center;  /* توسيط عمودي */
}

.start-hint p {
  font-size: 20px;
  margin-bottom: 25px;
  color: #333;
  text-align: center;
}

/* زر Start بالبداية */
.start-hint button {
  padding: 14px 45px;
  font-size: 17px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #111;
  color: white;
}


/* الكاميرا */
.camera-video {
  display: none;          /* ما تظهر إلا بعد Start */
  width: 85%;
  max-width: 1200px;
  border-radius: 15px;
  margin-bottom: 25px;
}

/* الأزرار */
.controls {
  display: none;          /* مخفية بالبداية */
  gap: 20px;
}

.controls button {
  padding: 12px 35px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #111;
  color: white;
}